/* --------------------------
  *  MIXINGS
/* --------------------------*/
// * Breakpoint-up (min-size)
@mixin breakpoint-up($size) {
	$breakpoint-value: map-get($breakpoints-up, $size);

	@media screen and (min-width: $breakpoint-value) {
		@content;
	}
}

// * Breakpoint-down (max-size)
@mixin breakpoint-down($size) {
	$breakpoint-value: map-get($breakpoints-up, $size);

	@media screen and (max-width: $breakpoint-value) {
		@content;
	}
}

// * Create a range-specific mixin
@mixin breakpoint-range($minSize, $maxSize) {
	$breakpoints-up-value: map-get($breakpoints-up, $minSize);
	$breakpoints-down-value: map-get($breakpoints-down, $maxSize);

	@media screen and (min-width: $breakpoints-up-value) and (max-width: $breakpoints-down-value) {
		@content;
	}
}

html {
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}
body {
	margin: 0;
	font-family: $font-stack;
	font-size: $font-base-size;
	line-height: 1.7;
	background: #fcfcfc;
}
// -- Utilitie classes --

// Text colors
.text-primary {
	color: $primary-color;
}
.text-secondary {
	color: $secondary-color;
}
.text-gray {
	color: $gray;
}
.text-white {
	color: $white;
}

// Bg colors
.bg-primary {
	background: $primary-color;
}
.bg-secondary {
	background: $secondary-color;
}
.bg-gray {
	background: $gray;
}
.bg-white {
	background: $white;
}
// Typography
.title,
.section-title,
.subtitle {
	font-family: $font-stack-secondary;
}
.subtitle {
	font-size: 32px;
	font-weight: 400;
}
