/* --------------------------
  *  MIXINGS
/* --------------------------*/
// * Breakpoint-up (min-size)
@mixin breakpoint-up($size) {
	$breakpoint-value: map-get($breakpoints-up, $size);

	@media screen and (min-width: $breakpoint-value) {
		@content;
	}
}

// * Breakpoint-down (max-size)
@mixin breakpoint-down($size) {
	$breakpoint-value: map-get($breakpoints-up, $size);

	@media screen and (max-width: $breakpoint-value) {
		@content;
	}
}

// * Create a range-specific mixin
@mixin breakpoint-range($minSize, $maxSize) {
	$breakpoints-up-value: map-get($breakpoints-up, $minSize);
	$breakpoints-down-value: map-get($breakpoints-down, $maxSize);

	@media screen and (min-width: $breakpoints-up-value) and (max-width: $breakpoints-down-value) {
		@content;
	}
}

@mixin input-placeholder {
	&.placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}

	&::-webkit-input-placeholder {
		@content;
	}
}

html {
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}
body {
	margin: 0;
	font-family: $font-stack;
	font-size: $font-base-size;
	line-height: 1.7;
	background: #fcfcfc;

	@include breakpoint-down("medium") {
		p {
			font-size: $font-base-size-sm;
			line-height: 1.5;
		}
	}
}
/* ----- Utilitie classes ----- */

/* Text colors */
.text-primary {
	color: $primary-color !important;
}
.text-secondary {
	color: $secondary-color !important;
}
.text-gray {
	color: $gray !important;
}
.text-white {
	color: $white !important;
}

/* Background colors */
.bg-primary {
	background: $primary-color !important;
}
.bg-secondary {
	background: $secondary-color !important;
}
.bg-gray {
	background: $gray !important;
}
.bg-white {
	background: $white !important;
}

/* Text aligns */
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

/* Typography utility */
.title,
.section-title,
.subtitle {
	font-family: $font-stack-secondary;
}
.subtitle {
	font-size: 32px;
	font-weight: 400;
}
