/* --------------------------
			COMPONENTS 
/* --------------------------*/

/*
 ---- Buttons ----
 */
.button {
	padding: $btn-padding-y $btn-padding-x;
	border: 0;
	border-radius: $btn-radius;
	font-family: $font-stack-secondary;
	font-size: $btn-font-size;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	vertical-align: middle;
	cursor: pointer;
	opacity: 1;
	transition: all 200ms linear;

	&:hover {
		opacity: 0.95;
		box-shadow: $btn-shadow;
	}

	&:focus,
	&.focus {
		box-shadow: $btn-shadow;
	}

	&-primary {
		background-color: $primary-color;
		border: 2px solid $primary-color;
		color: $white;

		&:hover {
			background: transparent;
			color: $primary-color;
		}
	}

	&-secondary {
		background-color: $secondary-color;
		border: 2px solid $secondary-color;
		color: $primary-color;

		&:hover {
			background: transparent;
			color: $secondary-color;
		}
	}

	&-tertiary {
		background-color: $white;
		border: 2px solid $white;
		color: $primary-color;

		&:hover {
			background: transparent;
			color: $white;
		}
	}
}

/*
 ---- Inputs ----
 */
.input-default {
	width: 100%;
	margin-bottom: 1rem;
	padding: $input-padding-y $input-padding-x;
	outline-color: $secondary-color;
	background: transparent;
	background-clip: padding-box;
	border: 1px solid $input-border;
	color: $input-txt-color;
	font-size: $input-font-size;
	font-weight: 300;
	border-radius: $input-border-radius;
	transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

	&:focus {
		border-color: $secondary-color;
		outline: 0 none;
	}

	@include input-placeholder {
		color: $gray;
	}
}

// Disable resize on textarea
textarea {
	resize: none;
}

/*
 ---- Tab ----
 */
.tab-links {
	overflow: hidden;
	margin: 1rem 0;

	// Scroll horizontal on small devices when the content extends full width
	@include breakpoint-down("small") {
		overflow-x: scroll;
	}
}

/* Style the buttons inside the tab */
.tab-links .link {
	padding: 0.5rem 0;
	margin-right: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	color: $gray;
	background: transparent;

	@include breakpoint-down("small") {
		font-size: $font-base-size-sm;
	}
}

/* Change background color of buttons on hover */
/* Create an active/current tablink class */
.tab-links .link:hover,
.tab-links .link.active {
	color: $black;
}

/*Section Service - Set the color pink to the active tab link*/
.section-services .tab-links .link:hover,
.section-services .tab-links .link.active {
	color: $secondary-color;
}

/* Tab content */
.tab-content {
	padding-top: 1rem;
	background: transparent;

	// Hide items by default then only show when selected
	&-item {
		display: none;
		transition: all 0.3s ease-out;
	}

	// This is for Page : Careers / Positions
	details {
		padding: 1rem 1.5rem;
		margin-bottom: 1rem;

		&:nth-child(odd) {
			background: $gray-100;
		}
	}

	summary {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		// Remove default arrow marker
		&::-webkit-details-marker {
			display: none;
		}

		h4,
		.apply-link {
			font-weight: 500;
			font-size: 14px;
		}

		// Job title
		h4 {
			text-transform: uppercase;
		}

		.apply-link {
			font-family: $font-stack-secondary;
			color: $black;

			img {
				margin-left: 1rem;
			}
		}
	}

	// Detail content
	.job-description {
		margin-top: 1rem;
		font-weight: 300;
	}
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}
