/* --------------------------
  * :::: COMPONENTS ::::
/* --------------------------*/

/*
 ---- Buttons----
 */
.button {
	padding: $btn-padding-y $btn-padding-x;
	border: 0;
	border-radius: $btn-radius;
	opacity: 1;
	font-family: $font-stack-secondary;
	font-size: $btn-font-size;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: all 200ms ease-in-out;

	&:hover {
		// color: #fff;
		opacity: 0.95;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	}

	&:focus,
	&.focus {
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	}

	&-tertiary {
		background-color: $white;
		color: $primary-color;
	}
}
