/* --------------------------
  * :::: LAYOUTS ::::
/* --------------------------*/

/*
 ---- Navbar ----
 */
.navbar {
	padding: 2rem 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 92, 114, 0) 50%,
		rgba(255, 92, 114, 0) 100%
	);
	&-brand {
		/*
        -Set elements to display flex and align center
        -When widht is small wrap the tagline to new line
       */
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-right: 3rem;

		.logo {
			max-width: 240px;
			// height: 24px;
			vertical-align: middle;
		}

		.tagline {
			// color: $primary-color;
			color: $primary-color;
			font-size: 14px;
			font-weight: 300;
		}
	}

	/*
        -Nav list
       */
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;

		&-item {
			color: $white;
			text-transform: uppercase;
			font-weight: 500;
		}

		&-link {
			color: $white;
		}
	}

	.dropdown {
		position: relative;
		display: inline-block;
		cursor: pointer;

		&:hover .dropdown-content {
			display: block;
		}

		&-content {
			display: none;
			position: absolute;
			right: 0;
			background: $white;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			padding: 1rem 1.2rem;
			line-height: 2;
			z-index: 1;
			text-align: left;

			.nav-link {
				color: $primary-color;
				text-transform: capitalize;
				display: block;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&-icon {
			vertical-align: middle;
		}
	}
}

/*
    ----- Footer ----- 
    */
footer {
	padding: 2rem 0;
	align-items: center;
	background: $secondary-color;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 33%,
		rgba(255, 92, 114, 1) 33%,
		rgba(255, 92, 114, 1) 100%
	);
	color: $white;

	@include breakpoint-down("medium") {
		background: $secondary-color;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 33%,
			rgba(255, 92, 114, 1) 33%,
			rgba(255, 92, 114, 1) 100%
		);
		text-align: center;

		.social-media-icons {
			padding-top: 2rem;
		}
	}

	img {
		vertical-align: middle;
	}

	a {
		color: $white;
		&:hover {
			color: $primary-color;
		}
	}

	.social-media-icons img {
		margin-left: 2rem;
	}

	@include breakpoint-up("medium") {
		.copyright {
			text-align: right;
		}
	}
}
