// ---- Home page -----

// Header - Home Background image

.hero-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.hero-home {
	background-image: url("../images/home-hero-img.png");
	min-height: 85vh;

	.hero-text {
		margin-top: 20%;
	}

	@include breakpoint-range("medium", "large") {
		min-height: 50vh !important;
	}

	@include breakpoint-down("medium") {
		min-height: 100vh !important;
	}
}

.hero-contact {
	background-image: url("../images/contact-hero-img.png");
	min-height: 50vh;
}

.hero-about {
	background-image: url("../images/about-hero-img.png");
	min-height: 50vh;
}

@include breakpoint-range("small", "large") {
	.hero-contact,
	.hero-about {
		min-height: 35vh !important;
	}
}

.hero-text {
	margin-top: 13%;

	.hero-title {
		// Change font-family of hero-title and weight bold
		font-family: $font-stack-secondary;
		font-size: 68px;
		font-weight: 600;
		text-transform: capitalize;
		line-height: 1.2;
		color: $white;
		margin-bottom: 3rem;
	}

	@include breakpoint-range("medium", "large") {
		.hero-title {
			font-size: 56px;
		}
	}

	/* Set the font smaller and align intems center in devices from tablet to small phones*/
	@include breakpoint-down("medium") {
		// Align items center, button and text
		text-align: center;
		.hero-title {
			font-size: 56px;
			line-height: 1.4;
			word-wrap: break-word;
		}
	}
}

/*
    ----- Sections ----- 
    */
.section {
	padding: 4rem 0;

	&-title {
		margin-bottom: 2rem;
		font-family: $font-stack-secondary;
		font-size: 3rem;
		font-weight: 700;
		color: $primary-color;
		line-height: 1.5;
	}

	p {
		// font-size: 14px;
		font-weight: 300;
	}

	// Make read more link uppercase, smaller
	a.read-more {
		margin-top: 1rem;
		text-transform: uppercase;
		font-family: $font-stack-secondary;
		font-size: 0.85rem;
		font-weight: 500;
		color: $primary-color;
		transition: all 200ms ease-out;

		&:hover {
			color: $secondary-color;
			img {
				/*Scale the arrow right icon when it's hover*/
				transform: scale(1.2);
			}
		}

		img {
			/* Give space left to the 'arrow' icon*/
			margin-left: 1.5rem;
			transition: all 200ms ease-out;
		}
	}

	@include breakpoint-down("large") {
		/* Set the padding lower
    - font smaller and 
    - align intems center in devices from tablet to small phones */
		padding: 2.5rem 0rem;

		/* Set the title smaller and break to new lines  */
		&-title {
			font-size: 2rem;
			word-wrap: break-word;
		}

		p {
			font-size: $font-base-size-sm;
		}
	}

	&-services {
		/* ----- Section 1 - Services -----  */

		@include breakpoint-up("medium") {
			background: $secondary-color;
			background: linear-gradient(
				90deg,
				hsl(0, 0%, 99%) 50%,
				rgba(255, 92, 114, 1) 50%,
				rgba(255, 92, 114, 1) 100%
			);
		}

		.tab-links .subtitle {
			display: block;

			// Set a smaller font in small devices and display flex
			@include breakpoint-down("medium") {
				font-size: 1.5rem;
			}
		}

		.tab-content {
			// Set paddings top,bottom,left to card except right side
			padding: 1rem 0rem;
			background-color: $secondary-color;
			color: $white;

			.subtitle {
				font-size: 28px;
			}

			.card {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 1.5rem;
				background: $white;
				color: $primary-color;
			}
		}

		/* Breakpoint for devices 'Ipad PRO'*/
		@include breakpoint-down("large") {
			.tab-content {
				padding: 2.5rem 2rem;
			}
		}

		/* Breakpoint for devices 'Tablet' - 'Phones'*/
		@include breakpoint-down("medium") {
			.tab-content {
				padding: 1.5rem 1rem;
			}
		}
	}

	/* ----- Section 2  - Clients -----  */
	&-clients {
		overflow: hidden;

		&-logo {
			/* Set specific widh and height to client logos*/
			max-width: 200px;
			height: 32px;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			padding-right: 1.5rem;
			vertical-align: middle;

			&:not(:last-child) {
				margin-right: 0.5rem;
			}

			@include breakpoint-down("medium") {
				display: flex;
				margin-top: 2rem;
			}
		}
	}

	&-about {
		/* ----- Section 3 - About us -----  */
		padding: 0 auto;

		.section-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include breakpoint-up("large") {
			.image-container {
				position: absolute;
				height: 555px;
				right: 0;
			}
		}
	}

	&-features {
		/*  ----- Section 4 - Features -----    */
		background: $primary-color;
		color: $white;
		text-align: left;

		.section-title {
			color: $white;
			margin-bottom: 0;
			line-height: 1;
		}

		p {
			margin: 0;
			font-size: 1.2rem;
			font-weight: 300;
		}

		@include breakpoint-down("large") {
			.row > div {
				/*  Give gap to div to not collapse together*/
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				text-align: center;
			}
		}

		@include breakpoint-down("medium") {
			/*  Set the title font smaller and the paragraph*/
			.section-title {
				font-size: 28px;
			}
			p {
				font-size: 12px;
			}
		}
	}

	&-case-studies {
		/* ----- Section 5 - Case studies -----  */
		.case-item {
			position: relative;
			color: $white;
			line-height: 0;

			&-img {
				width: 100%;
				height: 400px;
				object-fit: cover;
			}

			&-text {
				position: absolute;
				top: 2.5rem;
				padding: 1rem;

				p {
					margin-bottom: 2rem;
					font-size: 0.9rem;
					line-height: 1.7;
				}

				a {
					color: $white;
				}
			}
		}

		/* Set position absolute to display the text on 
      - top  and right for items that are even
      - top and left for items that are odd(every 2nd item)
      */

		.case-item:nth-child(even) .case-item-text {
			right: 2.5rem;
		}

		.case-item:nth-child(odd) .case-item-text {
			left: 2.5rem;
		}

		@include breakpoint-down("medium") {
			/* Set a fixed width for text container so it will position on sides
      */
			.case-item-text {
				max-width: 75% !important;
			}

			.case-item:nth-child(even) .case-item-text {
				right: 0em;
			}

			.case-item:nth-child(odd) .case-item-text {
				left: 0;
			}
		}
	}

	a.read-more:hover .case-item {
		opacity: 0.7 !important;
	}

	&-contact {
		/*  ----- Section 6 - Contact -----  */
		.addresses {
			line-height: 2em;

			h2 {
				font-family: $font-stack-secondary;
				font-size: 1.2rem;
			}

			strong {
				font-weight: 500;
			}
		}

		@include breakpoint-down("medium") {
			form {
				text-align: center;
			}
		}
	}
}

/*
    ----- PAGE: ABOUT US / CSS STYLE ----- 
    */

.about-page {
	// General css
	.section-image {
		height: 500px;
		object-fit: cover;
	}

	.subtitle {
		font-size: 1.7rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	p {
		margin-top: 0rem;
	}

	.section-characteristics {
		/* ----- Section - Characterisitcs -----*/
		.card {
			/*Display items flex and align to center*/
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 350px;
			padding: 3rem 5rem;

			/* Breakpoint for devices 'Tablet' - 'Phones'*/
			@include breakpoint-down("large") {
				padding: 1.5rem;
				min-height: 250px;

				.subtitle {
					font-size: 1.5rem;
				}
			}

			/*Set gray bg to every 3th item*/
			&:nth-child(3n - 1) {
				background: #fcfcfc;
			}

			.subtitle {
				text-transform: uppercase;
				color: $primary-color;
				margin-bottom: 2rem;

				/*Create a rectangle shape before subtitles with gradient color*/
				&::before {
					content: " ";
					margin-right: 1.5rem;
					padding: 4px 28px;
					background-color: $primary-color;
					background: linear-gradient(295deg, #234c87 0%, #ff5c72 55%, #ffffff 100%);
					z-index: 999;
				}
			}
		}
	}

	.section-testimonials {
		/* ----- Section - Testimonials -----*/
		.testimonial-card {
			margin-top: 1rem;
			margin-bottom: 1rem;

			&::before {
				content: " ";
				padding: 4px 16px;
				margin-top: 8px;
				background-image: url("../images/icons/quote.svg");
				background-repeat: no-repeat;
				z-index: 999;
			}
		}
	}

	//
	@include breakpoint-down("medium") {
		.section-image {
			height: auto;
		}
		.section-title {
			text-align: center;
		}
	}
}
