// ---- Home page -----

// Header - Home Background image

.hero-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.hero-home {
	background-image: url("../images/home-hero-img.jpeg");
	min-height: 85vh;

	.hero-text {
		margin-top: 18%;
	}

	@include breakpoint-range("medium", "large") {
		min-height: 50vh !important;
	}

	@include breakpoint-down("small") {
		min-height: 100vh !important;
	}
}

.hero-service,
.hero-casestudies,
.hero-case,
.hero-about,
.hero-careers,
.hero-contact {
	min-height: 400px;

	@include breakpoint-range("small", "large") {
		min-height: 40vh !important;

		.hero-text {
			margin-top: 20%;
		}
	}
}

.hero-service {
	background-image: url("../images/services-hero-img.png");
}
.hero-casestudies {
	background-image: url("../images/casestudies-hero-img.png");
}
.hero-case {
	background-image: url("../images/case-hero-img.png");
}
.hero-about {
	background-image: url("../images/about-hero-img.png");
}
.hero-careers {
	background-image: url("../images/contact-hero-img.png");
}
.hero-contact {
	background-image: url("../images/career-hero-img.png");
}

.hero-text {
	margin-top: 10%;

	/* Set the font smaller and align intems center in devices from tablet to small phones*/
	@include breakpoint-down("medium") {
		text-align: center;
		margin-top: 20%;
	}

	// Change font-family of, size, foont weight  to bold
	.hero-title {
		font-family: $font-stack-secondary;
		font-size: 68px;
		text-transform: capitalize;
		color: $white;
		margin-bottom: 3rem;

		@include breakpoint-down("large") {
			font-size: 52px;
			line-height: 1.4;
			word-wrap: break-word;
		}
	}
}

/*
    ----- Sections ----- 
    */
.section {
	padding: 4rem 0;

	&-title {
		margin-bottom: 2rem;
		font-family: $font-stack-secondary;
		font-size: 3rem;
		font-weight: 700;
		color: $primary-color;
		line-height: 1.5;
	}

	p {
		font-weight: 300;
	}

	// Make read more link uppercase, smaller
	a.read-more {
		margin-top: 1rem;
		text-transform: uppercase;
		font-family: $font-stack-secondary;
		font-size: 12px;
		font-weight: 500;
		color: $primary-color;
		transition: all 200ms ease-out;

		&:hover {
			color: $secondary-color;
			img {
				/*Scale the arrow right icon when it's hover*/
				transform: scale(1.2);
			}
		}

		img {
			/* Give space left to the 'arrow' icon*/
			margin-left: 1rem;
			transition: all 200ms ease-out;
		}
	}

	@include breakpoint-down("large") {
		/* Set the padding lower
    - font smaller and 
    - align intems center in devices from tablet to small phones */
		padding: 2rem 0rem;

		/* Set the title smaller and break to new lines  */
		&-title {
			margin-bottom: 1rem;
			font-size: 36px;
			word-wrap: break-word;
		}

		p {
			font-size: $font-base-size-sm;
		}
	}

	/* ----- Section 1 - Services -----  */
	&-services {
		@include breakpoint-up("large") {
			background: $secondary-color;
			background: linear-gradient(
				90deg,
				hsl(0, 0%, 99%) 50%,
				rgba(255, 92, 114, 1) 50%,
				rgba(255, 92, 114, 1) 100%
			);
			min-height: 70vh;
		}

		.tab-links .subtitle {
			display: block;

			// Set a smaller font in small devices and display flex
			@include breakpoint-down("medium") {
				font-size: 1.2rem;
				margin-right: 2rem;
			}
		}

		.tab-content {
			// Set paddings top,bottom,left to card except right side
			padding: 1rem 0rem;
			background-color: $secondary-color;
			color: $white;

			/* Breakpoint for devices 'Ipad's*/
			@include breakpoint-down("large") {
				padding: 2.5rem;
			}

			/* Breakpoint for devices 'Tablet' - 'Phones'*/
			@include breakpoint-down("medium") {
				padding: 1.5rem 1rem;
			}

			.card {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 1.5rem;
				background: $white;
				color: $primary-color;
				border: 1px solid $white;
				transition: all 250ms ee;
			}

			.subtitle {
				font-size: 28px;
			}
		}
	}

	/* ----- Section 2  - Clients -----  */

	&-clients {
		&-logo {
			/* Set specific widh and height to client logos*/
			max-width: 224px;
			max-height: 32px;
			margin-top: 1rem;
			margin-bottom: 1rem;
			padding-right: 1.5rem;
			vertical-align: middle;

			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}

		@include breakpoint-down("medium") {
			padding-top: 0;

			.logos-container {
				overflow-x: scroll;
				margin-top: 1.5rem;
			}

			.logo {
				display: flex;
			}
		}
	}

	/* ----- Section 3 - About us -----  */

	&-about {
		padding: 0 auto;

		.section-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include breakpoint-up("large") {
			.image-container {
				position: absolute;
				height: 555px;
				right: 0;
			}
		}
	}

	/*  ----- Section 4 - Features -----    */
	&-features {
		background: $primary-color;
		color: $white;
		text-align: left;

		.section-title {
			color: $white;
			margin-bottom: 0;
			line-height: 1;
		}

		p {
			margin: 0;
			font-size: 1.2rem;
			font-weight: 300;
		}

		@include breakpoint-down("large") {
			/*  Give gap to div to not collapse together*/
			.row > div {
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				text-align: center;
			}
		}

		@include breakpoint-down("medium") {
			/*  Set the title font smaller and the paragraph*/
			.section-title {
				font-size: 28px;
			}

			p {
				font-size: 12px;
			}
		}
	}

	/* ----- Section 5 - Case studies -----  */

	&-case-studies {
		.case-item {
			position: relative;
			color: $white;
			line-height: 0;

			&-img {
				width: 100%;
				height: 400px;
				object-fit: cover;
			}

			&-text {
				position: absolute;
				top: 2.5rem;
				padding: 1rem;

				.subtitle {
					font-size: 2rem;
					font-weight: 400;
				}

				p {
					margin-bottom: 2rem;
					font-size: 0.9rem;
					line-height: 1.7;
				}

				a {
					color: $white;
				}
			}
		}

		/* Set position absolute to display the text on 
      - top  and right for items that are even
      - top and left for items that are odd(every 2nd item)
      */

		.case-item:nth-child(even) .case-item-text {
			right: 2.5rem;
		}

		.case-item:nth-child(odd) .case-item-text {
			left: 2.5rem;
		}

		@include breakpoint-down("medium") {
			/* Set a fixed width for text container so it will position on sides
      */
			.case-item:nth-child(even) .case-item-text {
				right: 0em;
			}

			.case-item:nth-child(odd) .case-item-text {
				left: 0;
			}

			.subtitle {
				font-size: 26px;
			}
		}
	}

	/*  ----- Section 6 - Contact -----  */

	&-contact {
		p {
			font-size: 15px;
		}

		p > a {
			color: $black;
			text-decoration: underline;
		}

		.addresses {
			line-height: 2em;
			margin-bottom: 2rem;

			h2 {
				font-family: $font-stack-secondary;
				font-size: 1.2rem;
			}

			strong {
				font-weight: 500;

				a {
					color: $black !important;
				}
			}
		}

		@include breakpoint-down("medium") {
			form {
				text-align: center;
			}
		}
	}

	/*
    ----- PAGE: ABOUT US / CSS STYLE ----- 
    */

	&-values {
		/*----- Section 2 - Values -----*/
		.section-image {
			height: 500px;
			object-fit: cover;
		}
	}

	/*---- Section 3 - Charachteristics ----- */
	&-characteristics {
		.card {
			/*Display items flex and align to center*/
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			min-height: 100%;
			padding: 2.5rem 3rem;

			/* Breakpoint for devices 'Tablet' - 'Phones'*/
			@include breakpoint-down("large") {
				padding: 1.5rem;
				min-height: 250px;
			}

			/*Set gray bg to every 3th item*/
			&:nth-child(3n - 1) {
				background: #fcfcfc;
			}

			.subtitle {
				color: $primary-color;
				text-transform: uppercase;
				display: flex;

				/*Create a rectangle shape before subtitles with gradient color*/
				&::before {
					content: " ";
					margin-right: 1.2rem;
					padding: 1px 24px;
					background-color: $secondary-color;
					background: linear-gradient(295deg, #234c87 0%, #ff5c72 55%, #ffffff 100%);
					z-index: 999;
				}
			}
		}
	}

	/*---- Section 5 - Testimonials ----- */
	&-testimonials {
		.testimonial-card {
			margin-top: 1rem;
			margin-bottom: 1rem;

			&::before {
				content: " ";
				padding: 4px 16px;
				margin-top: 8px;
				background-image: url("../images/icons/quote.svg");
				background-repeat: no-repeat;
				z-index: 999;
			}

			p {
				margin-top: 0;
			}
		}
	}
	/*
     // END OF PAGE: ABOUT US / CSS STYLE ----- 
    */

	/*
    ----- PAGE: SERVICE / CSS STYLE ----- 
    */

	/*---- Section 3 - Driven by results ----- */
	&-results {
		.number-container {
			/*
				Container of Statistics
				-number
				-title
				-gradient shape
			*/
			/* Display properties */
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1rem;

			/* Text properties */
			text-align: center;
			text-transform: uppercase;
			font-family: $font-stack-secondary;
			line-height: 1rem;
			color: $primary-color;

			/* Circle Shape  - Properties */
			width: 175px;
			height: 175px;
			box-sizing: content-box;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50%;
				border: 12px solid transparent;
				background: $secondary-color;
				background: linear-gradient(225deg, #44638e 15%, #ff5c72 60%) border-box;
				mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}

			h2 {
				font-size: 40px;
			}
			span {
				font-size: 14px;
				font-weight: 700;
			}
		}

		.card-body {
			margin-top: 1.5rem;

			h3 {
				font-size: 26px;
				color: $primary-color;
			}
		}
	}

	/*---- Section 4 - Lets talk ----- */

	&-letstalk {
		background: $primary-color;
		background: linear-gradient(
			90deg,
			hsl(215, 59%, 33%) 60%,
			rgba(255, 92, 114, 1) 40%,
			rgba(255, 92, 114, 1) 40%
		);

		@include breakpoint-down("medium") {
			background: linear-gradient(
				180deg,
				hsl(215, 59%, 33%) 70%,
				rgba(255, 92, 114, 1) 30%,
				rgba(255, 92, 114, 1) 30%
			);
		}

		a {
			font-size: 1.5rem;
			color: $white;
			text-transform: uppercase;
			display: flex;

			img {
				width: 180px;
				margin-left: 2rem;
			}
		}
	}

	/*
     // END OF PAGE: CAREER / CSS STYLE ----- 
    */

	/*
    ----- PAGE: CAREER / CSS STYLE ----- 
    */

	/*---- Section 1 - JOB POSITIONS ----- */
	&-positions {
		min-height: 100vh;
	}
}

//
@include breakpoint-down("medium") {
	.section-values .section-image {
		height: auto;
	}
}
@include breakpoint-down("small") {
	.main .section-title {
		text-align: center;
	}
}
